<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>Olá, {user_name}.</h1>
    <p>
      É um prazer receber você no nosso sistema CyberCS. Para criar sua nova
      senha e acessar o sistema, clique no link abaixo:
    </p>
    <a href="{link}">Criar senha</a>
    <p>Desejamos boas vindas!</p>
    <p>Se você não solicitou essa ação, por favor, ignore este e-mail.</p>
    <p>Atenciosamente, Equipe CyberCS</p>
  </body>
</html>
